<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISistemaHorariosService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:34859/SistemaHorariosService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISistemaHorariosService"
                contract="SistemaHorariosService.ISistemaHorariosService"
                name="BasicHttpBinding_ISistemaHorariosService" />
        </client>
    </system.serviceModel>
</configuration>